@media screen and (max-width: 600px) {
    body {
        min-height: 100vh;
    }
    main {
        width: 90%;
    }
    .head img {
        width: 100%;
        min-width: 300px;
    }
    .background {
        width: 55%;
    }
    main section img {
        transform: translateY(-55px);
    }
    main section h1 {
        margin-top: -40px;
    }
    main section p {
        margin-top: 9px;
    }
}
@media screen and (max-width: 470px) {
    .background {
        width: 90%;
    }
}
